.InfoSeller{
    padding-top: 150px;
    padding-bottom: 200px;
    display: flex;
    height: 90vh;
    width: 100%;
}

.InfoSeller>img{
    /* object-fit: contain; */
    width: 400px !important;
    height: 450px !important;
    border-radius: 5%;
    margin: 0 50px 0 150px;
}

.text{
    padding-top: 50px;
    word-wrap: break-word;
    width: 800px;
    /* margin-top: 70px; */
    color: #191919;
    font-size: 20px;
   
}
.qst{
    word-wrap: break-word;
    width: 800px;
    font-weight: 900;
}
.welcomeMessage>h2, h1 {
    margin-bottom: 30px;
    color: rgb(46, 44, 44) !important;
}
.MuiButtonBase-root{
    width: 200px;
   
    color: #d4b56b !important ;
    background-color: #191919 !important;
    font-weight: 800;
    margin-bottom: 50px;
    margin-top: 40px !important;
    /* margin-left: 100px !important; */
    font-weight: 900 !important;
  
    
  }

  .MuiButtonBase-root:hover{
    color: #ffffff !important;
    background-color: #d4b56b !important;
  }