.login{
    display: grid;
    place-items:center;
    height: 65vh;
    width: 100%;
    background-image: url("https://media.istockphoto.com/photos/black-gold-background-gradient-texture-soft-golden-with-light-gray-picture-id1191996804?k=20&m=1191996804&s=612x612&w=0&h=mWPGRvxuM0E0Kgw3Qu6R3e9w2vLrgG2A78NCGXrJ6jY=");
    background-repeat: no-repeat;
    background-size: cover;
   
    
     
}



    .login>button{
      width: 120px;
      background-color: #191919 ;
      color: #d4b56b;
      font-weight: 800;
      margin-bottom: 70px
    }
    .login>button:hover{
      color: #191919 ;
      background-color: #d4b56b;
    }
/* span{color:#C65D7B}      */
.loginLogo{
  margin-top: 250px;
  text-align: center;

   text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #d6d010ce 0%,
    #fdf5a6 29%,
    #191919 67%,
    #b88746 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  /* text-fill-color: transparent; */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
      font-size: 190px;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}



/* SITE TEXT animation :      https://alvarotrigo.com/blog/css-text-animations/ */